<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
        <!-- <a href="/"> Home </a> <br>
        <a href="/about">About </a> -->

        <div class="container mt-4">
            <h1>Hey this is from About Section</h1>
        </div>
        
</body>

</html>